* {
    box-sizing: border-box;
}
.main-page{
    width: 100%;
    height: auto;
}

.button-row{
    display: flex;
    justify-content: space-between;

}
.footer{
    margin-top: 50px;
    background-color:rgb(88, 189, 109);
   
}

.footer-content{
    padding: 40px;
    
}

 .social-media{
    padding:5px;
} 
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

.social-icons{
    display: flex;
    justify-content: space-around;

}

.yellow-color{
    color:rgb(243, 198, 51);
}